*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-color: #0e1229;
    border-radius: 20px;
    color: white;
}

.container{
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 50px;
}

.introduction{
    display: flex;
    flex-direction: column;
}

.about{
    height: fit-content;
    padding: 20px 10px;
    border: 1px solid grey;
    margin-bottom: 30px;
}

.about > h2{
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

.about > p{
    margin-bottom: 10px;
    font-size: 25px;
}

.introHeading > img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
    float: right;
}

.induction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid grey;
    margin-bottom: 30px;
}

.introHeading{
    display: flex;
    align-items: center;
    padding: 10px;
}

.body{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid grey;
    margin-bottom: 30px;
}

.bodyright > img{
   width: 200px;
   height: 300px;
}

.bodyleft{
    margin-right: 30px;
}

.bodyleft > p{
    font-size: 20px;
}

.bodyleft > ul{
    font-size: 20px;
    padding: 20px;
}

.stats{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-right: 30px;
    border: 1px solid grey;

}

.statsholder{
    display: flex;
    padding: 20px;
}

.visionMissionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.vision{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 20px;
    padding: 10px;
}


.mission{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 20px;
    padding: 10px;
}

.vision > h2{
    font-size: 50px;
}

.vision > p{
    font-size: 20px;
}

.mission > h2{
    font-size: 50px;
}

.mission > p{
    font-size: 20px;
}


.faculty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.faculty > h2{
    font-size: 60px;
}

.faculty > .facultyImages{
    display: flex;
    gap: 100px;
}

.faculty > .facultyImages > img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.coordinators{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coordinators > h2{
    font-size: 60px;
}

.coordinators > .executivelead > h2{
    font-size: 60px;
}

.coordinators > .coordinatorsImages{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
}

.executivelead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


.coordinators > .coordinatorsImages > img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.coordinators > .executivelead > img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

footer{
    padding: 20px;
}

@media screen and (max-width: 780px){
    .coordinators > .coordinatorsImages{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 30px;
    }
}